#myCanvas {
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

#myCanvasCircle {
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 1px solid black;
}

#canvasArt {
    margin-top: 20px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

#randomCircle {
    border: 1px solid black;
}